extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 James Hanley

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer and Game Company Owner

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a devoted programmer and I have been for a long time. What started out as a hobby as a young adult, I ended up with a college degree in game software development.
            | However I felt I could not stop there! After starting a game development company, I felt a the world could better benefit from web development skills than
            | a game developer. Thats when I found TeamTreehouse.com! Their program taught me how to be a javascript fullstack developer! I feel that my programming skills
            | will be of much greater use helping the world speak through the internet. I now have the skill to help you and/or your company make the best web sites we could
            | possibly make together. With me on your team, we will charge forward into the future of free information exchange and help shape the future for our children!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Node.js
          li Javascript
          li HTML
          li CSS 
          li DOM
          li Fetch API
          li AJAX
          li Sequal Server and SQL Lite
          li Git/Github
          li Linux Operating systems
          li Visual Studio/Visual Code
          li C++, C# and lua scripting

        h6 Contact Info

        //- Add your own contact info
        ul
          li 541-425-5217
          li jamesh39@outlook.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/james-hanley-2a31b498/') LinkedIn
        a.button.expanded(href='https://github.com/madoverlord40') GitHub
        //a.button.expanded(href='') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  